.page-footer {
  background: #181918;
  padding-top: 32px;
  padding-bottom: 12px;
}
.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-top {
  gap: 171px;
  align-items: top;
  border-bottom: 1px solid #323232;
  padding-bottom: 20px;
}

.footer-bottom {
  align-items: center;
  color: var(--color-text-grey);
  padding-top: 12px;
}

.page-footer__site-map {
  color: var(--color-text-grey);
  line-height: 27px;
}

.page-footer__column--map {
  width: 7%;
}

.page-footer__column--about {
  width: 54%;
}

.page-footer__about {
  white-space: pre-line;
  color: var(--color-text-grey);
  line-height: 24px;
  margin: 0;
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.page-footer__title {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 27px;
}

.social__list-item {
  display: block;
  padding: 12px;
  width: 59px;
  height: 59px;
  border: 2px solid #323232;
  border-radius: 50%;
}

.page-footer__rules {
  text-decoration: underline;
  text-underline-offset: 0.18em;
}
